.fable/
.fake/
.farmer/
.idea/
.ionide/
.vs/
deploy/
obj/
bin/
packages/
paket-files/
node_modules/
release.cmd
release.sh
*.orig
*.DotSettings.user
packages-microsoft-prod.deb
src/AF/Data/
src/Server/public/data/output/
src/Client/public/js/snippet2
src/Client/public/js/scratch.js
src/Client/public/js/snipper.js
src/Docs/elmishDoc.html
src/App/public
temp/
*.fs.js
src/Server/Properties
*.fsproj.user
*.diff
*.log
snip*.txt
src/FileWriterOrig/
*.txt
*.dat
src/ChabbithogQ/
src/ProxyShared/ProxyInfrastructure_unused.fs
src/Replay copy/
src/Replay/Repos/
src/Replay/Source/ReplayServer.fs
src/ReplayOrig/
src/Repos/Repos/
src/Repos/Source/
*do_not_use*.*
gitlogs.csv